<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up - Rahul's App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="signup-page">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="popup">
        {% for msg in messages %}
          <p>{{ msg }}</p>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}

    <div class="auth-container-signup">
        <h2>Sign Up</h2>
        <form method="POST">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required><br>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>

</body>
</html>